<component name="ArtifactManager">
  <artifact type="jar" build-on-make="true" name="SpringBootPOCUpdated:jar">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringBootPOCUpdated_jar</output-path>
    <root id="archive" name="SpringBootPOCUpdated.jar">
      <element id="module-output" name="SpringBootPOCUpdated" />
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/src/main/java/META-INF/MANIFEST.MF" />
      </element>
    </root>
  </artifact>
</component>